/Mage_All.xml
/Mage_Api.xml
/Mage_Api2.xml
/Mage_Authorizenet.xml
/Mage_Bundle.xml
/Mage_Captcha.xml
/Mage_Centinel.xml
/Mage_Compiler.xml
/Mage_Connect.xml
/Mage_CurrencySymbol.xml
/Mage_Downloadable.xml
/Mage_ImportExport.xml
/Mage_Oauth.xml
/Mage_PageCache.xml
/Mage_Persistent.xml
/Mage_Weee.xml
/Mage_Widget.xml
/Mage_XmlConnect.xml
/Phoenix_Moneybookers.xml
