/.buildpath
/.project
/.settings
/var
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
/downloader
/errors
/pkginfo
/shell
/includes
/js
/lib
/media
/skin
